.main {
    margin-top: 10%;
  }
  .mainClick {
    margin-top: 5%;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-image: url("https://www.teahub.io/photos/full/40-407628_244-pastel-hd-wallpapers-data-src-pastel-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #282be6;
    padding: 20;
  }
  
  h3 {
    color: rgb(63, 12, 59);
  }
  
  h1 {
    letter-spacing: 10px;
    color: #201d1c;
    width: 500px;
    border: 15px solid rgb(35, 41, 43);
    padding: 0 0 10px;
    margin: 20px;
  }